medi-track-2417924-20240485/node_modules
medi-track-2417924-20240485/dist
appointment-scheduling-service/node_modules
appointment-scheduling-service/dist
notification-service/node_modules
notification-service/dist
patient-record-service/node_modules
patient-record-service/dist
file-handler/node_modules
file-handler/dist
cron-jobs/node_modules
cron-jobs/dist
*.env